@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Rubik", sans-serif;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

#content-container {
  display: flex;
  flex-direction: column;
  height: 850px;
}

#content {
  display: flex;
  flex-direction: row;
}

#navbar-container {
  height: 60px;
  width: 100%;
  background: hsl(356, 85%, 57%);
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  background: hsl(224, 7%, 96%);
  padding: 10px 14px;
  border-radius: 4px;
  padding-top: 38px;
  height: 650px;
}

#sidebar_bottom {
  width: 400px;
  display: flex;
  justify-content: flex-end;
}

#greeting-message {
  padding-bottom: 20px;
}

h1 {
  font-size: 13px;
  font-weight: 600;
  padding: 0 8px;
  padding-bottom: 10px;
}

h2 {
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0;
}

#today,
#projects {
  font-size: 13px;
  padding: 10px 8px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#today:hover,
#projects:hover {
  background: hsl(223, 7%, 98%);
}

#projectsbtn {
  border: none;
  background: none;
  color: black;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  border-radius: 4px;
}

li {
  font-size: 13px;
  list-style: inside;
}

.day {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 14px;
  font-weight: 550;
  font-style: italic;
}

ul {
  margin-left: -40px;
}

#actions {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 25px;
}

#container {
  display: flex;
  flex-direction: column;
  padding-top: 38px;
  padding-left: 80px;
  height: 100%;
  width: 400px;
}

.current {
  font-size: 17px;
  padding-bottom: 22px;
}

details > summary {
  list-style-type: none;
}

details {
  font-size: 15px;
  color: hsl(0deg 0% 25%);
  border-radius: 4px;
}

summary {
  cursor: pointer;
  padding: 12px;
  outline-offset: 5px;
  display: flex;
  flex-direction: row;
  font-weight: 700;
}

.more {
  padding-bottom: 8px;
  font-size: 13px;
  font-style: italic;
  padding-left: 25px;
}

.input {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
}

#task-container {
  min-height: 370px;
  max-height: 370px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
}

#modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-align: center;
  height: 50%;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 1;
}

#modal {
  display: flex;
  padding: 10px 15px;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 350px;
  height: 300px;
  gap: 15px;
  text-align: center;
  background: white;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

#close-container {
  display: flex;
  justify-content: flex-end;
}

#close {
  color: black;
  cursor: pointer;
  font-size: 14px;
  cursor: pointer;
}

#close:hover {
  font-weight: 800;

}

#modal-container.show {
  opacity: 1;
  pointer-events: auto;
}

