@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

.appear {
  border: pink 4px solid;
}
html, body {
  height: 100%;
  font-family: "Rubik", sans-serif;
  overflow: hidden;
}

body {
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

/* navbar */

#navbar-container {
  height: 55px;
  width: 100vw;
  background: #194f92;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#right-side {
  display: flex;
  padding-right: 10px;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  justify-content: flex-end;
}

#left-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding-left: 10px;
}


#x-button {
  font-size: 12px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border: none;
  text-align: center;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  background: none;
}

#navbar-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  max-width: 300px;
  gap: 10px;
}

#addtodo-button {
  font-size: 22px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
  text-align: center;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  background: none;
}

#todo {
  background: #fff;
  border-radius: 4px;
  width: 220px;
  height: 40px;
  font-size: 13px;
  color: #143f75;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}

/* sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  width: 17.9vw;
  background: hsl(224, 7%, 96%, 0.4);
  padding: 8px 12px;
  padding-top: 38px;
  height: 100vh;
}

#sidebar_bottom {
  width: 400px;
  display: flex;
  justify-content: flex-end;
}
.project {
  font-size: 13px;
  list-style: none;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  border-radius: 4px;
}

.project:hover {
  background: hsl(223, 7%, 98%);
  cursor: pointer;
}

.project.selected {
  background: hsl(55, 100%, 50%, 0.5);
  color: #fff;
  border-radius: 4px;
}

project.styled {
  color: #fff;
}

.currently {
  background: hsl(223, 7%, 98%);
  color: black;
}

.text {
  color: #143f75
}

#greeting-message {
  padding-top: 85px;
  display: flex;
  justify-content: center;
}

.day {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 14px;
  font-weight: 550;
  font-style: italic;
  color: #194f92;
}

#home, #projects {
  font-size: 13px;
  padding: 10px 8px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
  color: #194f92;
}

#home:hover, #projects:hover {
  background: hsl(223, 7%, 98%);
}

h2 {
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0;
  padding-top: 2px;
}

#add-project {
  border: none;
  background: none;
  color: hsl(45, 94%, 53%);
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  border-radius: 4px;
}

#projects-container {
  min-height: 200px;
  height: 300px;
}

/* modal one */

#modal-container-one {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  height: 50%;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 100;
}

#modal-container-one.show {
  opacity: 1;
  pointer-events: auto;
  z-index: 1000;
}

#modal-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 350px;
  height: 250px;
  gap: 10px;
  text-align: center;
  background: white;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

#modal-stuff {
  max-height: 200px;
  margin: 5px 5px;
  margin-top: 22px;
}

#project-name {
  background: hsl(210, 9%, 96%);
  height: 60px;
  border: none;
  border-radius: 6px;
  width: 85%;
  text-align: center;
  margin-top: 40px;
}

input#project-name::placeholder {
  color: hsl(55, 0%, 44%, 0.8)
}

input#todo::placeholder {
  color: #143f75;
}

input#project-name:focus::placeholder, input#todo:focus::placeholder {
  color: transparent;
}

#project-name:focus {
  border: none;
  outline: none;
}

#modal-footer-one {
  height: auto;
  margin: 0;
  background: hsl(224, 7%, 96%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 12px;
}

/* modal two */

#modal-container-two {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-align: center;
  height: 50%;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

#modal-container-two.show {
  opacity: 1;
  pointer-events: auto;
  z-index: 1000;
}

#modal-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 350px;
  height: 200px;
  gap: 15px;
  text-align: center;
  background: white;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

#cont {
display: flex;
justify-content: center;
align-items: center;
margin-top: 33px;
}
#todo-title, #todo-description, #priority-container {
  background: hsl(210, 9%, 96%);
  height: 70px;
  border: none;
  border-radius: 6px;
  width: 85%;
  text-align: center;
}

#todo-title:focus, #todo-description:focus, #priority-container:focus {
  border: none;
  outline: none;
}

#priority-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

#modal-footer-two {
  height: 55px;
  margin: 0;
  background: hsl(224, 7%, 96%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 12px;
}

#buttons-project, #buttons-questions {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 8px;
}

#cancel, #confirm-project, #confirm-todo, #close { 
  display: inline-block;
  outline: 0;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  height: 28px;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: all .3s ease;
  width: 75px;
  padding-top: 3px;
 }

 #confirm-project, #confirm-todo {
  background: hsl(45, 94%, 53%);
  color: #fff
 }

 
#priority-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  position: fixed;
  top: 55%;
  left: 50%;
  text-align: center;
}

#priority-content.show {
    display: flex;
    flex-direction: column;
}

#dropdown {
  font-size: 12px;
  height: 25px;
  border: none;
  background: none;
  cursor: pointer;
}

a {
  padding: 10px;
}

a:hover {
  background: hsl(223, 7%, 98%);
  cursor: pointer;
}

 /* end of modal two */

 /* content  */

 #content-container {
  display: flex;
  flex-direction: column;
  height: 850px;
}

#content {
  display: flex;
  flex-direction: row;
}

#container {
  display: flex;
  flex-direction: column;
  margin-top: 38px;
  margin-left: 80px;
  height: 100%;
  width: 800px;
}

#current-tab {
  font-size: 17px;
  padding-bottom: 22px;
  text-align: left;
  color: hsl(45, 94%, 53%);
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}

#wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 720px;
  min-height: 40px;
  max-height: 40px; 
  text-align: center;
}

#priorities.high {
  width: 20px;
  height: 20px;
  background: hsl(7, 89%, 55%);
  border-radius: 50%;
  visibility: visible;
}

#priorities.medium {
  width: 20px;
  height: 20px;
  background: hsl(46, 100%, 50%);
  border-radius: 50%;
  visibility: visible;
}

#priorities.low {
  width: 20px;
  height: 20px;
  background: hsl(54, 76%, 62%);
  border-radius: 50%;
  visibility: visible;
}

#priorities {
visibility: hidden;
}

.todo-title {
  width: fit-content;
  height: fit-content;
  padding-top: 1px;
  font-weight: 500;
}

.checkbox {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(2px);
  z-index: 100;
  transition: all 0.5s;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

#welcome, #getstarted-cont {
  display: none;
}

#welcome.activate {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 400px;
  height: 100px;
  padding: 10px;
  top: 50%;
  left: 50%;
  margin-top: -90px;  
  margin-left: -150px;  
}

.welcome-text {
  color: rgb(20, 63, 117);
  font-size: 32px;
}

.small-text {
  color: rgb(20, 63, 117, 0.95);
  font-size: 17px;
  text-decoration: none;
}