@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');

*, *::before, *::after {
box-sizing: border-box;
}
* {
margin: 0;
}

html, body {
height: 100%;
font-family: 'Rubik', sans-serif;
}

body {
line-height: 1.5;
}

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

input, button, textarea, select {
font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
hyphens: auto;
}

#content {
  display: flex;
  flex-direction: row;
  margin: 45px; 
  margin-top: 65px;
  gap: 90px;
  height: 850px;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
}

.sidebar-top {
  font-size: 15px;
  padding-bottom: 35px;
}

.menu {
  font-weight: 850;
}

h1 {
  font-size: 13px;
  font-weight: 600;
  padding: 0;
  padding-bottom: 5px;
}

h2 {
  font-size: 14px;
}

.firstAction, .secondAction, .plan {
  font-size: 13px;
}

li {
  font-size: 13px;
  list-style: inside;
}

ul {
  margin-left: -40px; 
}

.actions, .history {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 25px;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 400px;
}

.title-date {
  font-size: 17px;
  padding-bottom: 22px;
}

.firstAction:hover, .secondAction:hover {
 text-decoration: underline hsl(247, 93%, 51%);
}

details > summary {
 list-style-type: none;
}

details {
  font-size: 15px;
  color: hsl(0deg 0% 25%);
  border-radius: 4px;
}

summary {
  cursor: pointer;
  padding: 12px;
  outline-offset: 5px;
  display: flex;
  flex-direction: row;
  font-weight: 700;
}

.more {
  padding-bottom: 8px;
  font-size: 13px;
  font-style: italic;
  padding-left: 25px;
}

.input {
  padding-left: 8px;
  padding-right: 8px;  
  padding-top: 2px;
}

#task-container {
  min-height: 370px;
  max-height: 370px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
}

.task {
  font-family: 'Fira Sans', sans-serif;
  }
  
.buttonContainer {
padding-top: 20px;
display: flex;
flex-direction: row;
}

#taskButton {  
  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 1px solid hsl(46, 4%, 16%);
  padding: 7px 16px;
  max-height: 36px;
  max-width: 45px;
  color: black;
  background: #ffffff;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
}

.taskButton:hover {
    background: #f6f6f7;
    outline: 1px solid transparent;
}
